#Natural Disasters in the US

## Overview

This data compilation looks at the change in climate-related natural disaster in the United States over the past 40 years, starting in 1980. The compilation uses a data set taken from the IMF Climate Change Dashboard which records the frequency of natural disasters over time of dozens of countries. These natural disasters include storms, floods, droughts, landslides, wildfires, and extreme temperatures.

The process below describes how to download the dataset, create a dataframe, and then narrow down the specific information you want to examine and save it as its own subset.

## Process

### Getting Started

1. Download the .csv file from the IMF Climate Change Dashboard
  https://climatedata.imf.org/pages/climatechange-data

2. Mount your Google Drive

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

3. Import the required packages

In [ ]:
import numpy as np
import pandas as pd

### Creating your dataframe

Turn the .csv file into a usable dataframe. We can do this by setting whatever we want to name our data frame equal to `pd.read_csv()`, with the file's location inside of the parentheses. I named my dataframe "df".

This should look something like this:

In [ ]:
df=pd.read_csv('gdrive/MyDrive/ENGL 105/Climate-related_Disasters_Frequency.csv')

### Creating your Subset

This data frame contains hundreds of rows with information about dozens of countries, so now you are going to isolate the data for just the country you want to look at. For this compilation, I looked at just the United States.

To do this, I used the `.iloc` function. The name of your dataframe with `.iloc` will look up a set of specified rows and columns. You list the number row or rows you want first, then a comma, then the column or columns. To find a range of either, use a colon between the top and bottom of the range.

For this data compilation, I am just looking at total disasters per year for the US, which are located in row 924. Years 1980-2020 were located in columns 10-51.

In [ ]:
df.iloc[924,10:51]

F1980     7.0
F1981     4.0
F1982    13.0
F1983     9.0
F1984    14.0
F1985    15.0
F1986     6.0
F1987     9.0
F1988    22.0
F1989    17.0
F1990    21.0
F1991    35.0
F1992    29.0
F1993    28.0
F1994    14.0
F1995    17.0
F1996    14.0
F1997    33.0
F1998    32.0
F1999    22.0
F2000    30.0
F2001    26.0
F2002    29.0
F2003    22.0
F2004    20.0
F2005    16.0
F2006    28.0
F2007    23.0
F2008    21.0
F2009    17.0
F2010    15.0
F2011    23.0
F2012    25.0
F2013    28.0
F2014    19.0
F2015    29.0
F2016    26.0
F2017    24.0
F2018    19.0
F2019    20.0
F2020    23.0
Name: 924, dtype: object

Next, I gave this data set a name. I called the new data set USTotalDisasters.

In [ ]:
USTotalDisasters = df.iloc[924,10:51]

The next step is to save this subset as its own .csv file. To do this I use the `.tocsv` function.

In [ ]:
USTotalDisasters.to_csv("USTotalDisasters.csv", index=False)